# EditorConfig is awesome: http://EditorConfig.org
# Author Ron. A @0xADADA
# Copyright (c) 2015 visual assault, llc

# top-most EditorConfig file
root = true

[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true

# Javascript
[*.js]
indent_style = space
indent_size = 2

# CSS
[*.{css,scss,styl}]
indent_style = space
indent_size = 2

[*.{hbs,html,json,yml}]
indent_style = space
indent_size = 2

# Marddown
[*.md]
trim_trailing_whitespace = false

# Python - 4 space indentation
[*.py]
indent_style = space
indent_size = 4
