xterm*Background:     #1c1c1c 
xterm*Foreground:     #e5e5e5
xterm*borderWidth:    0
xterm*faceName:       Liberation mono:size=10:antialias=false
xterm*font:           7x13
xterm*utf8:           1
URxvt*cursorBlink:    true
URxvt*background:     #1c1c1c 
URxvt*foreground:     #e5e5e5
URxvt*underlineColor: yellow
URxvt*fading:         25
URxvt*font:           xft:Terminus:pixelsize=14:antialias=false, \
                      xft:Noto Emoji:pixelsize=8:antialias=true, \
                      xft:Symbola:pixelsize=9:antialias=true
URxvt*depth:          32
URxvt*scrollBar:      false
URxvt*loginShell:     true
Urxvt*secondaryScroll:true
URxvt*saveLines:      10000
URxvt*termName:       rxvt-unicode
URxvt*perl-ext-common:default,matcher
URxvt*url-launcher:   firefox
