URxvt.cursorBlink:    true
URxvt.background:     #1c1c1c
URxvt.foreground:     #e5e5e5
URxvt.underlineColor: yellow
URxvt.fading:         15
URxvt.font:           xft:Source Code Pro for Powerline:pixelsize=14:antialias=true, \
                      xft:Source Code Pro:pixelsize=14:antialias=true, \
                      xft:Noto Sans:pixelsize=14:antialias=true, \
                      xft:Noto Emoji:pixelsize=14:antialias=true, \
                      xft:Symbola:pixelsize=9:antialias=true
URxvt.depth:          32
URxvt.scrollBar:      false
URxvt.loginShell:     true
Urxvt.secondaryScroll:true
URxvt.saveLines:      10000
URxvt.termName:       rxvt-unicode
URxvt.perl-ext-common:default,matcher
URxvt.url-launcher:   firefox
URxvt.letterSpace:    -1
URxvt.inputMethod:    ibus
URxvt.preeditType:    OverTheSpot
