"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "atom-ternjs": {}
  "autocomplete-plus": {}
  autosave:
    enabled: true
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    themes: [
      "atom-dark-ui"
      "gruvbox"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    preferredLineLength: 72
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "b55699eb-25f1-7a42-a74a-9cf9ccf08533"
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  metrics:
    userId: "8bc8cce8683601fd164a8e683349e1fcfddeab91"
  minimap: {}
  "release-notes":
    viewedVersion: "0.60.0"
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    preferredLineLength: 72
